template(name="support")
  .ui.grid.centered
    .ten.wide.column
      h2.ui.header
        i.life.ring.icon
        | Поддержка
      
      table.ui.table
        thead
          tr
            th Статус
            th Вопрос загадки
            th Исследователь
            th Дата
            th Сообщений
            th Просмотрен
        tbody
          each supports
            tr
              td
                if solved
                  | Решен
                else
                  | Открыт
              td {{riddleQuestion}} {{riddleIntricacy}}
              td {{researcherName}} {{researcherCity}}
              td {{createdAt}}
              td {{messageCount}}
              td 
                if viewed
                  | Да
                else
                  | Нет

template(name="messageSupport")
  +autoForm(collection="Supports" id="insertSupportsForm" type="insert" class="inverted")
    +afQuickField name="riddleId" value=_id type="hidden"
    +afQuickField name="riddleQuestion" value=question type="hidden"
    +afQuickField name="riddleIntricacy" value=intricacy type="hidden"
    +afQuickField name="solved" value="false" type="hidden"
    +afQuickField name="researcherName" value=researcherName type="hidden"
    +afQuickField name="researcherCity" value=researcherCity type="hidden"
    +afQuickField name="messageCount" value=1 type="hidden"
    +afQuickField name="viewed" value="false" type="hidden"
  
    +afFormGroup name="body" type="textarea" label=false placeholder="Написать Юре Астраленко по загадке"
    .field: button.ui.inverted.basic.small.blue.button(type='submit') Отправить Юре
